html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{  font:18px/1.3em 'liberation', sans-serif;padding:3%;}
header img{display:block; float:left;}
header .tools{padding:55px 0 0 130px;}
header p{clear:both; margin:30px 0 0 0;}
h2{font-size:1.2em, sans-serif; margin:30px 0 10px 0;font-weight:normal;}
main>section{position:relative;}
p{margin:0 0 0 120px;}
section.notab p{ margin:0;}
time{position:absolute; top:0; left:0; font: .7em liberation_mono, monospace;margin:0 0 3px 0; letter-spacing:1px;}
em, i{font-style:italic;}
body.langfr .en{display:none;}
body.langen .fr{display:none;}
button{transform: skewX(-20deg)}
a{color:inherit;}
.btnprint{margin-left:15px;}
.toprint{display:none;}
.hide{display: none;}

@media print {
  img{display:none;}
  body{font:7pt/9pt liberation, sans-serif; padding:0cm; margin:0;}
  header{margin-bottom:1cm;}
  header p{margin:0;}
  header img{width:2cm; height:auto;}
  h2{margin:10px 0 5px 0;}
  h2:before{content:"— ";}
  button{display:none;}
  a{color:black; text-decoration:none;}
  a:link:after, a:visited:after{content:" " attr(href) ""; font: .7em liberation_mono, monospace;}
  header a:link:after, a:visited:after{content:"";}
  .toprint{display:block;}
  .noprint{display:none;}
  .star{ display:none; width:1cm; height:auto; margin:.5cm auto 0 auto;}
  .message{display:block; margin-top:.5cm;text-align: right; font-style:italic;}
  header img{display:none!important;}
}
