html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body{
  padding:2% 3% 3% 3%;
  font-family: 'liberation', sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  hyphens: auto;
}
#credbox{
  margin-top:10px;
  font:13px/1.2em 'liberation', sans-serif;
  text-align: right;
}
.fr{display: none;}
body>header{
  padding: 2% 3% 0 3%;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 4;
  top:0;
  left:0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .url{
  flex:1 1 40%;
  text-align: center
}
.toggle{
  cursor:pointer;
  padding:2px;
}
.toggle.has-opened{
  background: #eee;
}
header .sub-menu{
  display: none;
  padding:10px;
  background:#eee;
}
header .sub-menu.opened{
  display: flex;
}
#info{
  flex-direction: column;
}
#info #biobox{
  margin-top:10px;
  columns: 3;
}
main{
  margin-top:3%;
  width:100%;
}
.gallery{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10px;
}
figure{
  font-size:13px;
  line-height: 1.2em;
  flex:0 0 300px;
  margin-bottom:30px;
}
figure main p:not(:first-child){
  text-indent:.7em;
}
figcaption main{
  max-height: 0;
  transition: all .4s ease-in-out;
  overflow: hidden;
}
figcaption.opened main{
  max-height: 900px;
}
figure img{
  display: block;
  width:100%;
  opacity: 1;
  transition: opacity 0.3s;
}
img[data-src] {
  opacity: 0;
}
figcaption{
  width:auto;
}
a{
  color:inherit;
}
a:visited{
  /*color:#777;*/
}
blockquote{
  padding:3px;
  border:1px solid black;
}
i, em{
  font-style: italic;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

@media only screen and (max-width: 400px) {
  figure{
    flex:0 0 100%;
  }
  .header:not(#header-list){
    flex-direction: column;
  }
  #header-list li{
    font-size:14px;
    padding:5px;
  }
  .header li{
    padding: 7px;
  }
  figure{
    font-size:inherit;
  }
}
@media only screen and (max-width: 700px) {
  .gallery{
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1000px) {
  body>header{
    position:static;
  }
  #follow{
    flex-wrap: wrap;
  }
  #newsletter-form{
    width:100%;
    margin-top:7px;
    text-align: center;
  }
  #info #biobox{
    columns: 1;
  }

}
.browser {
  border-top: 2em solid #ddd;
  position: relative;
  border-radius: 3px 3px 0 0;
}

.browser:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 0em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 60%;
  box-shadow: 1em 0 0 2px #555, 2.5em 0 0 2px #888, 4em 0 0 2px #aaa;
}

.browser:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser > * {
  display: block;
}
.browser > img {
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin-bottom:1px;
}

:-moz-any-link:focus, a:active {text-decoration: none; outline:0;}
::selection {background:#ffeaaa;}
::-moz-selection {background:#ffeaaa;}
